body{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #186e94;
    color:white;

}
#btn{
    border-radius:20px;
    font-weight: bold;
    width:20%;
    height:5%;
    background-color:coral;
    color:white;
    margin:0% 10% ;
    font-size: 1em;
    text-align: center;

}
.container{
    width: 100%;
    height:1000px;
    text-align: center;
}
#content{
    margin:10% 25% ;
    width:40%;
    height:100px;
    padding: 5%;
    font-size: 2em;

}
span{
    font-size: 2em;

}
@media(max-width:700px){
    #btn{
        margin:8% 5%;
        width:50%;
    }
    #content{
        width:60%;
        height:auto;
        margin:10%;
    }
}